@use "../../typography.scss" as *;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contentBlock {
  width: 608px;
  background-color: var(--white);
  height: 100%;
  @media screen and (min-width: 609px) {
    border-radius: 36px;
    padding: 43px 40px;
  }
}
.imageBlock {
  width: 100%;
  height: 284px;
  border-radius: 0 0 16px 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 106, 58, 1) 0%,
    rgba(255, 82, 123, 1) 100%
  );
}
.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 24px 44px 24px;
  &__title {
    @include text-preset-1-mobile;
  }
  &__description {
    @include text-preset-2-regular;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    display: flex;
    align-items: start;
    gap: 16px;

    @include text-preset-2-regular;
  }
}
