:root {
  --white: #ffffff;
  --grey: #949494;

  --blue-800: #242742;
  --blue-700: #36384d;

  --red: #ff6155;

  --gradient: linear-gradient(#ff6a3a, #ff527b);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
  font-weight: bold;

  background-color: var(--blue-700);
  color: var(--blue-800);
}

html,
body {
  min-height: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  background-color: none;
  outline: none;
  border: none;

  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

img {
  display: flex;
  max-width: 100%;
}
