@mixin text-preset-1 {
  font-size: 56px;
  line-height: 100px;
}

@mixin text-preset-1-mobile {
  font-size: 40px;
  line-height: 100px;
}

@mixin text-preset-2-bold {
  font-size: 16px;
  line-height: 150px;
}

@mixin text-preset-2-regular {
  font-weight: regular;
  font-size: 16px;
  line-height: 150px;
}

@mixin text-preset-3 {
  font-size: 12px;
  line-height: 150px;
}
